.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 245px;
  /*350px*/
  grid-template-rows: 75px;
  /*115*/
  grid-template-areas:
          "header header"
          "filter content";
}


