
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

 body {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, sans-serif;
    font-style: normal;
}

code {
    font-family: Josefin Sans, sans-serif;
    font-style: normal;
}
